<section id="container">
    <div class="log">
        <form action="" method="post" class="inisec">
            <h3 class="headini">Iniciar Sessión</h3>
            <input type="text" name="usuario" required placeholder="Correo electronico" class="btch">
            <input type="password" name="clave" required placeholder="Contraseña" class="btch">
            <input type="password" name="clave1" required placeholder="Confirmar Contraseña" class="btch">
            <input type="submit" class="btnch" value="Ingresar">
            <a [routerLink]="['/sing-in']">Crear una nueva cuenta</a>
        </form>

        <a [routerLink]="['/sing-up']">ya tienes una cuenta</a>
    </div>
</section>