<table border=1 class='tabla_datos'>
    <thead>
        <tr id='titulo'>
            <td>N° Titulo</td>
            <td>Titulo</td>
            <td>Descripción</td>
            <td>Estado</td>
            <td>Acciones</td>
        </tr>

    </thead>

    <tbody>
        <tr>
            <td contenteditable id="it">1</td>
            <td contenteditable id="tt">Test1</td>
            <td contenteditable id="dt">Desc Test1</td>
            <td contenteditable id="et">1</td>
            <td><a id="el" class="bte">Eliminar</a></td>
        </tr>
    </tbody>
    <tr>
        <td contenteditable> </td>
        <td contenteditable> </td>
        <td contenteditable> </td>
        <td contenteditable> </td>
        <td><a id="ad" class="bta">Añadir</a></td>
    </tr>
</table>
